body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    
}

.post {
    background-color: white;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    
}

.post-header {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    height: 10%;
    border-radius: 5px;
    
}

p {
    font-family: "Roboto", sans-serif;
}

.header-text {
    display: flex;
    width: 80%;
    
}

i {
    font-size: 25px;
    padding-left: 15px;
    padding-top: 15px;
    margin: 0;

}

.header-paragraph {
    display: flex;
    flex-direction: column;
}

.post-image {
    height: 60%;
    background-color: white;
    overflow: hidden;
    

}

img{ 
    width: 100%;
    height: 100%;
}

.post-footer {
    height: 30%;
    background-color: white;
    border-radius: 5px;
    
}

.post-icons {
    display: flex;
}

.left-icons {
    width: 90%;
}


.footer-likes {
    color: black;
    padding-left: 10px;
    font-weight: bold;

}

.footer-caption {
    padding-left: 10px;

}
